.ATCMbutton {
  position: inline;
  margin: 4px 5.5px;
  background-color: transparent;
  border: solid 1px #91B324;
  border-radius: 5px;
  align-self: center;
  transition-duration: .3s;
}

.ATCMbutton:hover {
  /* border: solid 2px #2A465E; */
  border: solid 3px #91B324;
  transition-duration: .3s;
}

.ATCMbuttonClicked {
  position: inline;
  margin: 4px 5.5px;
  background-color: transparent;
  background-color: #283303;
  border: solid 3px #91B324;
  border-radius: 5px;
  align-self: center;
}

.ATCMbutton:focus, .ATCMbuttonClicked:focus {
  outline: 0;
}

.ATCMlogo {
  position: initial;
  vertical-align: sub;
}