#gameTitleDown {
  margin-top: 10px;
  text-align: left;
  font-size: 19px;
  max-height: 29px;
  white-space: nowrap;
}

#gameDescDown {
  text-align: left;
  font-size: 19px;
  margin-top: 10px;
}

#gameOldPriceDown {
  color: #bbbbbb;
  text-decoration: line-through;
  font-size: 19px;
  font-family: "Arial";
  position: absolute;
  text-align: left;
  bottom: 165px;
}

#gamePriceDown {
  position: absolute;
  text-align: left;
  font-size: 29px;
  bottom: 125px;
}

#addToCartDown {
  position: absolute;
  bottom: 125px;
  right: 120px;
  z-index: 800;
}

#addToWishlistDown {
  position: absolute;
  bottom: 125px;
  right: 35px;
  z-index: 800;
}

#seeMoreDown {
  position: absolute;
  bottom: 40px;
  right: 35px;
  cursor: default;
}

#tagContainerDown {
  display: flex;
  text-align: left;
  flex-direction: row;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

#titleContainerDown {
  font-family: 'Motiva Sans', 'Arial';
  overflow-wrap: break-word;
  padding-left: 10px;
  padding-right: 10px;
  max-height: 290px;
  overflow: hidden; 
  cursor: default;
  max-width: 100%;
}

#buttonContainerDown {
  display: relative;
  padding-left: 20px;
  padding-right: 20px;
  cursor: default;
  z-index: 500;
}

.seeMoreButton {
  background-color: 'transparent';
  border: 'solid 2px white';
  border-radius: '5px';
  font-size: '15px';
  color: 'white';
}

.seeMoreButton:hover {
  background-color: 'transparent';
}

.ddContainer {
  display: flex;
  flex-direction: row;
  position: absolute;
  text-align: left;
  background-color: #1A2533;
  width: 1350px;
  margin-top: 5px;
  padding-bottom: 0px;
  left: 0;
}

#individualTag {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
  margin-right: 5px;
}

a {
  cursor: default;
}

.bannerUt {
  position: relative;
  overflow: hidden;
}

#imgvid {
  padding: 10px 10px 10px 10px;
  width: 58.5%;
}