.Ctag {
    position: inline;
    margin: 10px 2.5px;
    text-align: center;
    border-radius: 5px;
    background-color: #66C0F4;
    border: 1px solid #66C0F4;
    align-self: center;
    font-size: 12px;
    color: #171A21;
    transition-duration: .3s;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: "Arial";
  }
  
  .Ctag:hover {
    background-color: #171A21;
    transition-duration: .3s;
    color: #66C0F4;
    border: 1px solid white;
    border-color: #66C0F4;
  }
  
  .CtagClicked {
    position: inline;
    margin: 10px 2.5px;
    text-align: center;
    background-color: #171A21;
    border: 1px solid #66C0F4;
    border-radius: 5px;
    align-self: center;
    font-size: 12px;
    color: #66C0F4;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .Ctag:focus, .CbuttonClicked:focus {
    outline: 0;
  }
