#price {
    color: white;
    font-family: "Tahoma", "Arial";
    font-size: 25px;
    text-align: right;
    margin-right: 6px;
    float:right;
}

#operatingSystems{
    float: left;
}

#cart{
    float: right;
}
#wishlist{
    float: right;
}
.listing{
    text-align: left;
    margin: 0px;
    width: 1350px;
    justify-content: left;
    align-items: unset;
    background-color: #1B2837;
}

#oldPrice {
    color: white;
    text-align: right;
    text-decoration: line-through;
    font-size: 15px;
    font-family: "Arial";
    float: right;
    margin-top: 11px;
    margin-right: 10px;
    vertical-align: bottom;
}

h1{
    font-family: 'Motiva Sans', 'Arial';
    font-size: 25px;
    font-weight: normal;
    margin-top: 35px;
    margin-bottom: 10px;
}

.carousel{
    width: 810px;
    float: left;
    position: relative;
}

.queue{
    width: 1350px;
    clear: both;
    height: 72px;
    background-color: #101C26;
}

.queueBreak{
    height: 10px;
    clear: both;
}

.info{
    float: left;
    width: 530px;
    margin-left: 10px; 
    background-color: #101C26; 
    padding-bottom: 10px;
}

#border{
    border: 1px;
    border-style: solid;
    border-color: white;
}

#image{
    width: 50%;
}

#description{
    padding: 10px;
}

p{
    font-family: 'Arial';
    font-size: 12px;
    font-weight: normal;
}

.user_reviews{
    font-size: 12px;
    padding-top: 10px;
    color: #556772;
    display: block;
    padding: 0;
    margin-top: 10px;
}

.user_reviews_summary_row{
    display: flex;
    line-height: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0;
    margin: 0;
    font-size: 12px;
    color: #556772;
}

.subtitleColumn{
    text-transform: uppercase;
    font-size: 10px;
    padding-right: 10px;
    min-width: 94px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0;
    margin: 0;
    display: block;
}

.summaryColumn{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0;
    margin: 0;
    display: block;
    font-size: 12px;
    color: #556772;
}

.release_date{
    display: flex;
    padding-top: 9px;
    padding-bottom: 13px;
    line-height: 16px;
    padding-top: 9px;
    padding-bottom: 13px;
    font-size: 12px;
    color: #556772;
}

.game_review_summaryPositive{
    color: #66C0F4;
    white-space: nowrap;

}

.date{
    color: #8f98a0;
}

#listingLink{
    color: #67c1f5;
    text-decoration: none;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    line-height: 16px;
}

.dev_row{
    display: flex;
    line-height: 16px;
}


#follow{
    float: left;
    margin-left:10px;
    margin-top: 10px;
    margin-bottom:10px;
    margin-right:5px;
}

#ignore{
    float: left;
    margin-top: 10px;
    margin-left:5px;
}

#viewqueue{
    float: right;
    margin-top: 10px;
    margin-bottom:10px;
    margin-right:10px;
}

#content{
    float: left;
    width: 790px;
    background-color: #101C26;
    font-family: 'Arial';
    font-size: 12px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    color: #acb2b8;
}

#game_desc img{
    width: 790px;
}

h2{
    font-family: 'Motiva Sans', 'Arial';
    font-size: 19px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
}

.game_area_sys_req strong {
    font-weight: normal;
    font-size: 11px;
    color: #4582A5;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 4px;
}

.game_area_sys_req ul li strong {
    color: #61686D;
    font-size: 12px;
    margin-right: 4px;
    font-weight: normal;
    margin-bottom: 2px;
    text-transform: none;
}

.sysreq_tab {
    padding-left: 10px;
    padding-right: 10px;
    line-height: 20px;
    margin-right: 10px;
    color: #3b6e8c;
    float: left;
    cursor: pointer;
}

.sysreq_tabs {
    font-size: 12px;
    padding-top: 8px;
    padding-left: 5px;
    margin-bottom: 15px;
    background: linear-gradient( to right, rgba(58,110,139,0.2) 0%,rgba(58,110,139,0) 100%);
}

.sysreq_tab.active {
    background-color: #18222e;
    color: #67c1f5;
    cursor: default;
}

.sysreq_contents .sysreq_content {
    display: none;
    font-family: 'Motiva Sans', 'Arial';

}

.sysreq_contents .sysreq_content.active {
    display: block;
    font-family:'Arial';

}

.game_area_sys_req_leftCol, .game_area_sys_req_rightCol {
    float: left;
    width: 395px;
    display:block;
}

.game_area_sys_req ul {
    list-style-type: none;
    margin-left: 0px;
    line-height: 18px;
}

#detailBar{
    float: left;
    width: 510px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #101C26; 
    padding-bottom: 10px;
    height: 500px;
}

h2.bb_tag {
    margin-top: 18px;
    margin-bottom: 0px;
    background-image: none;
    font-size: 15px;
    color: #2f89bc;
    text-transform: none;
    letter-spacing: 0px;
}

.bb_ul {
    color: #acb2b8;
    margin-left: 16px;
    list-style-type: square;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: block;
    padding-inline-start: 40px;
    line-height: 1.5em;
    font-size: 12px;
    margin-top: 30px;
    overflow: hidden;
    font-family: "Arial", Sans-serif;
    font-weight: normal;
}

.game_area_description ul li, .game_area_description ol li {
    margin-bottom: 8px;
    display: list-item;
    text-align: -webkit-match-parent;
}

.bb_ul > li {
    list-style-position: outside;
}

div.image-gallery-slide{
    background-color: #1B2837;
    margin-bottom: -20px;
}