h2 {
    font-family: 'Motiva Sans', 'Arial';
    font-size: 29px;
    text-align: left;
    font-weight: normal;
    margin-top: 35px;
    margin-bottom: 10px;
    margin-left: 44px;
}

.home_ctn2 {
	overflow: hidden;
    margin: 0;
    margin-top: 40px;
    margin-bottom: 40px;
}

.carousel_items {
    width: 1370px;
    height: 350px;
	margin: 0;
    padding: 0;
    position: relative;
    display: block;
    clear: both;
}

.spotlight_img {
    width: 305px;
    height: 350px;
    overflow: hidden;
	padding-left: 0px;
    padding-top: 0px;
    display: block;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0;
}

.focus {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
}

.focus::-webkit-scrollbar {
    display: none;
}

.store_capsule_row {
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    position: relative;
    width: 305px;
    bottom: 0px;
}

.capsule_header {
    position: absolute;
    width: 305px;
}

.store_capsule_column {
    position: relative;
    padding-right: 10px;
    padding-bottom: 10px;
    width: 305px;
}

#wideImage {
    width: 305px;
    height: 170px;
}

#tallImage {
    width: 305px;
    background-size: 100% 100%;
}