.ATWMbutton {
  position: inline;
  margin: 4px 5.5px;
  background-color: transparent;
  border: solid 1px #2970CC;
  border-radius: 5px;
  align-self: center;
  transition-duration: .3s;
}

.ATWMbutton:hover {
  border: solid 3px #2970CC;
  transition-duration: .3s;
}

.ATWMbuttonClicked {
  position: inline;
  margin: 4px 5.5px;
  background-color: #142233;
  border: solid 3px #2970CC;
  border-radius: 5px;
  align-self: center;
}

.ATWMbutton:focus, .ATWMbuttonClicked:focus {
  outline: 0;
}

.ATWMlogo {
  position: initial;
  vertical-align: sub;
}