/* from https://dev.to/skptricks/create-simple-popup-example-in-react-application-5g7f */
  .popupinner {  
    position: absolute;  
    left: 25%;  
    right: 25%;  
    top: 25%;  
    bottom: 10%;  
    margin: auto;  
    border-radius: 5px;  
    background: #26374D;  
    z-index: 900;
    overflow: scroll;
    padding: 20px;
    color: white;

}

tr{
  position: relative;
}

td{
  font-family: Arial;
  font-size: 19px;
  padding-left:20px;
  padding-right:20px;
}

.totaldue {
  font-weight: normal;
  font-size: 25px;
}

.totalprice {
  font-weight: bold;
  font-size: 29px;
  color: #91B324;
}