.Cbutton {
  margin: 5px 5.5px;
  text-align: center;
  vertical-align: middle;
  background-color: #5E8033;
  border: none;
  border-radius: 3px;
  font-size: 19px;
  color: white;
  transition-duration: .3s;
}

.Cbutton:hover {
  background-color: #91B324;
  transition-duration: .3s;
}

.CbuttonClicked {
  margin: 5px 5.5px;
  text-align: center;
  background-color: #91B324;
  border: none;
  border-radius: 5px;
  align-self: center;
  font-size: 19px;
  color: white;
}

.Cbutton:focus, .CbuttonClicked:focus {
  outline: 0;
}

.Clogo {
  vertical-align: sub;
  padding-right: 10px;
}