.body {
  background-color: #1A2533;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#grid{
  width: 1370px;
  width: 100%;
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#gridContainer{
  margin-top: 0px;
  width: 1370px;
}
