.body {
  text-align: center;
  background-color: #1B2838;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 40px;
}

#grid{
  margin-top: 35px;
  padding-bottom: 10px;
  width: 100%;
  background-color: #2A465E;
}

#gridContainer{
  margin-top: 0px;
  align-content: center;
}
