*:focus {
  outline: none;
}

.navbar {
  margin-top: 0px;
  display: block;
  background-color: #26374D;
  align-items: center;
  justify-content: left;
  z-index: inherit;
  border: none;
  outline: none;
  flex-direction: row;
  width: 1370px;
  box-shadow: 0 2px 10px rgba(0,0,0,.25);
}


.navbarmenuitem {
  display: inline;
  border-left: none;
  border-right: solid 1px #1A2533;
  border-top: none;
  border-bottom: none;
  /* border: none; */
  text-align: center;
  background-color: inherit;
  color: white;
  font-size: 15px;
  transition-duration: .4s;
}

.navbarmenuitem:hover {
  background-color: #46668C;
  transition-duration: .4s;
}


.searchbar, .searchbar:focus {
  outline: none;
  width: auto;
  background-color: #E6F1FF;
  border: none;
  margin-left: 8px;
  margin-right: 4px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  float: right;
  /*vertical-align: middle;*/
}

#navcontainer{
  background-color: #1A2533;
  display: flex;
  justify-content: center;
  z-index: inherit;
}

#container_search_right{
  position: relative;
  display: block;
  width: auto;
  height: 38px;
  float: right;
  margin: auto;
}

.searchinput, .searchinput:focus {
  display: block;
  background-color: #E6F1FF;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 5px;
  float: left;
}

.searchinput:placeholder-shown {
  font-style: italic;
}

.searchbutton, .searchbutton:focus {
  border: none;
  float: right;
  display: block;
  height: 28px;
  background-color: #46668C;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.searchbutton:hover {
  background-color: #1B2838;
}

.bardropdown {
  display: inline-flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.Wbutton{
  float: right;
}
.WbuttonClicked{
  float: right;
}

.Cbutton{
  float: right;
}

.CbuttonClicked{
  float: right;
}