.grid_items {
    width: 1350px;
	margin-bottom: 0px;
    padding: 0;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px 10px;
    align-items: stretch;
    justify-items: center;
    text-align: center;
    position: relative;
}

.grid_capsule{
    height: 210px;
}

.grid_capsule-inuse {
    height: 210px;
    margin-bottom: 600px;
}

#gridImage{
    box-shadow: 3px 3px 3px 0px  rgba(0,0,0,0.3);
    max-width: 443px;
}

.react-tabs__tab-panel{
    padding-top: 10px;
    margin-top: 0px;
    padding: 10px;
    background-color: #26374D;
}