.react-tabs {
  -webkit-tap-highlight-color: transparent;
  width: 100%;
}

.react-tabs__tab-list {
  margin: 0 0 10px;
  padding: 0;
  background-color:#1B2838;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 24px;
  cursor: pointer;
  font-family: 'Arial';
  font-size: 20px;
}

.react-tabs__tab--selected {
  background: #2A465E;
  color: white;
  border-radius: 5px 5px 0 0;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #2A465E;
}

.react-tabs__tab-panel {
  display: none;
  margin-top: 30px;
}

.react-tabs__tab-panel--selected {
  display: block;
}