#gameTitle {
  margin-top: 15px;
  text-align: left;
  font-size: 29px;
  max-height: 29px;
  white-space: nowrap;
}

#gameDesc {
  text-align: left;
  font-size: 19px;
}

#gameOldPrice {
  color: #bbbbbb;
  text-decoration: line-through;
  font-size: 15px;
  font-family: "Arial";
  position: absolute;
  text-align: left;
  bottom: 98px;
}

#gamePrice {
  position: absolute;
  text-align: left;
  font-size: 29px;
  bottom: 61px;
}

#addToCart {
  position: absolute;
  bottom: 65px;
  right: 70px;
}

#addToWishlist {
  position: absolute;
  bottom: 65px;
  right: 15px;
}

#seeMore {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

#tagContainer {
  text-align: left;
  padding-top: 0px;
  padding-left: 20px;
  padding-right: 20px;
}

#titleContainer {
  font-family: 'Motiva Sans', 'Arial';
  overflow-wrap: break-word;
  padding-left: 20px;
  padding-right: 20px;
  max-height: 163px;
  overflow: hidden; 
  box-shadow: -15px -15px 20px 0px #2A465E inset;
}

#buttonContainer {
  display: relative;
  padding-left: 20px;
  padding-right: 20px;
}

.seeMoreButton {
  background-color: 'transparent';
  border: 'solid 2px white';
  border-radius: '5px';
  font-size: '19px';
  color: 'white';
}

.seeMoreButton:hover {
  background-color: 'transparent';
  
}

#individualTag {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
  margin-right: 5px;
}