#gameTitle {
  margin-top: 20px;
  text-align: left;
  font-size: 19px;
  margin-bottom: 10px;
  /*white-space: nowrap;*/
  font-family: 'Motiva Sans', 'Arial';
  font-weight: normal;
}

#gameDesc {
  font-size: 15px;
  font-family: 'Arial';
  font-weight: normal;
  text-align: left;
}

body{
  text-align: left;
}

#break{
  clear:both;
}

#gameOldPrice {
  color: #bbbbbb;
  text-decoration: line-through;
  font-size: 15px;
  font-family: "Arial";
  vertical-align: bottom;
  text-align: left;
  float:right;
}

#gamePrice {
  text-align: left;
  float: right;
  font-size: 29px;
}

#addToCart {
  margin-right: 10px;
  float: right;
}

#addToWishlist {
  margin-right: 10px;
  float: right;
}

#seeMore {
  float:left;
  margin-left:10px;
  margin-right: 10px;
  cursor: default;
}

#tagContainer {
  text-align: left;
  padding-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 500;
}

#titleContainer {
  font-family: 'Motiva Sans', 'Arial';
  overflow-wrap: break-word;
  padding-left: 10px;
  padding-right: 10px;
  max-height: 200px;
  overflow: hidden; 
  cursor: default;
  z-index: 500;
}

#prices{
  right:10px;
  position: absolute;
  padding: 10px;
  bottom: 50px;
}

#buttonContainer {
  position:absolute;
  bottom: 10px;
  cursor: default;
  z-index: 500;
}

#seeMoreButton {
  background-color: 'transparent';
  border: 'solid 2px white';
  border-radius: '5px';
  font-size: '15px';
  color: 'white';
}

#seeMoreButton:hover {
  background-color: 'transparent';
  
}

#individualTag {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
  margin-right: 5px;
}

a {
  cursor: default;
}
