#discountTag {
  position: absolute;
  top: 5px;
  right: -40px;
  background-color: #5E8033;
  font-size: 25px;
  color: #C3FF00;
  padding: 5px 40px;
  transform: rotate(45deg);
  border: solid 2px #283303;
  z-index: 601;
}