.SMbutton {
  margin: 0px;
  text-align: center;
  /* vertical-align: sub; 
  align-self: center;*/
  background-color: transparent;
  border: solid 1px white;
  border-radius: 5px;
  font-size: 15px;
  color: white;
  transition-duration: .3s;
}

.SMbutton:hover {
  border: solid 3px white;
  transition-duration: .3s;
}

.SMbuttonClicked {
  margin: 4px 5.5px;
  text-align: center;
  /* vertical-align: sub; 
    align-self: center;*/
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color: white;
}

.SMbutton:focus, .SMbuttonClicked:focus {
  outline: 0;
}