.qbutton {
    position: inline;
    margin: 4px 5.5px;
    text-align: center;
    /* vertical-align: sub; */
    background-color: #26374D;
    border: none;
    border-radius: 5px;
    align-self: center;
    font-size: 19px;
    color: #366EB3;
    transition-duration: .3s;
    padding: 10px, 5px, 5px, 5px;
  }
  
  .qbutton:hover {
    background-color: #366EB3;
    transition-duration: .3s;
    color: #101C26;
  }
  
  .qbuttonClicked {
    position: inline;
    margin: 4px 5.5px;
    text-align: center;
    /* vertical-align: sub; */
    background-color: #366EB3;
    border: none;
    border-radius: 5px;
    align-self: center;
    font-size: 19px;
    color: white;
  }
  
  .qbutton:focus, .ATWbuttonClicked:focus {
    outline: 0;
  }
  
  .qlogo {
    vertical-align: sub;
    padding-right: 10px;
  }