h2{
    font-family: 'Motiva Sans', 'Arial';
    font-size: 19px;
    text-align: left;
    font-weight: normal;
    margin-top: 35px;
    margin-bottom: 10px;
}

.home_ctn {
	overflow: scroll hidden;
    margin: 0;
    padding: 0;
}

.carousel_item {
    width: 1370px;
    height: 170px;
	margin: 0;
    padding: 0;
    position: relative;
    display: block;
    clear: both;
    overflow-x: scroll;
}

.carousel_container {
    display: flex;
}

.spotlight_img {
    width: 305px;
    height: 170px;
    overflow: hidden;
	padding-left: 0px;
    padding-top: 0px;
    display: block;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0;
}

.focus{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0;
    position: relative;
}

.focus::-webkit-scrollbar {
    display: none;
}

.store_capsule_row{
    display: flex;
    position: relative;
    width: 305px;
}

.store_capsule_row-new{
    display: flex;
    position: relative;
    float: right;
    width: 305px;
    z-index: 600;
    bottom: 177px;
    outline: solid 1px red;
    left: 315px;
}

.store_capsule_row-new-tall{
    display: flex;
    position: relative;
    float: right;
    width: 305px;
    height: 350px;
    z-index: 600;
    bottom: 357px;
    outline: solid 1px red;
    left: 315px;
}

.capsule_header{
    width: 305px;

}

.store_capsule_column{
    padding-right: 10px;
    padding-bottom: 10px;
    width: 305px;
}

.store_capsule_column_inuse{
    padding-right: 10px;
    padding-bottom: 10px;
    width: 305px;
    margin-right: 315px;
}

#wideImage{
    width: 305px;
    height: 170px;
}

.leftbutton, .rightbutton {
    position: flex;
    z-index: 500;
    width: 44px;
    opacity: .3;
    border: none;
}

.leftbutton:hover, .rightbutton:hover {
    opacity: .4;
}