.ATWbutton {
  position: inline;
  margin: 4px 5.5px;
  text-align: center;
  /* vertical-align: sub; */
  background-color: #3D6599;
  border: none;
  border-radius: 5px;
  align-self: center;
  font-size: 19px;
  color: white;
  transition-duration: .3s;
}

.ATWbutton:hover {
  background-color: #2970CC;
  transition-duration: .3s;
}

.ATWbuttonClicked {
  position: inline;
  margin: 4px 5.5px;
  text-align: center;
  /* vertical-align: sub; */
  background-color: #2970CC;
  border: none;
  border-radius: 5px;
  align-self: center;
  font-size: 19px;
  color: white;
}

.ATWbutton:focus, .ATWbuttonClicked:focus {
  outline: 0;
}

.ATWlogo {
  vertical-align: sub;
  padding-right: 10px;
}